<nav class="navigation">
  <a href="{{ site.baseurl }}/">Home</a>
  
  <div class="dropdown">
    <a href="{{ site.baseurl }}/getting-started" class="dropbtn">Getting Started</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/quick-start">Quick Start</a>
      <a href="{{ site.baseurl }}/installation">Installation</a>
      <a href="{{ site.baseurl }}/configuration">Configuration</a>
    </div>
  </div>
  
  <a href="{{ site.baseurl }}/search">Search</a>

  <div class="dropdown">
    <a href="{{ site.baseurl }}/about" class="dropbtn">About</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/quick-start">Quick Start</a>
      <a href="{{ site.baseurl }}/installation">Installation</a>
      <a href="{{ site.baseurl }}/configuration">Configuration</a>
    </div>
  </div>

  <a href="{{ site.baseurl }}/archive">Archive</a>
</nav> 